$border-color: rgb(165, 4, 4);

body{
	background-image: url(../Images/Backgrounds/Goodgreenedit.jpg);
	background-size: 40vw;
}

#textcontent{
    height: 76vh; 
    font-size: 30px; 
    // width: 50vw; 
    margin: 0 15vw; 
    padding: 0 2vw; 
    border: 0.7vh solid $border-color;
    border-radius: 1vh;
    // font-weight: 700;
    background-color: rgba(255, 255, 255, 0.424); 
}