/*! CSS for the about and reference pages */

$border-color: rgb(165, 4, 4);
$med-screen: 1500px;

body {
	background-image: url(../Images/Backgrounds/Goodgreenedit.jpg);
	background-size: 40vw;
}

#maincontent {
	// height: fit-content;
	display: table !important; 
	// height: -moz-max-content;
}

/*! The text shown in the main content */
#textcontent {
	margin: 5vh 8vw;
	// height: fit-content;
	// height: -moz-max-content;
	height: 1px;
	display: table; 
	min-height: 73vh;
	font-size: 1.7rem;
	padding: 0 2vw;
	border: 0.7vh solid $border-color;
	border-radius: 1vh;
	background-color: rgba(255, 255, 255, 0.699);
}
