/*! CSS for the collection page */

$primary-color: #a59656;
// $secondary-color: rgba(255, 255, 255, 0.527);
$secondary-color: rgba(216, 216, 216, 0.733);
$border-color: rgb(165, 4, 4);
$snowymountainscolor: rgb(216, 216, 216);
$outergresioncolor: rgb(6, 83, 6);

body {
	margin: 0px;
	background-image: url(../Images/Backgrounds/good\ blue.jpg);
	background-size: 48vw;
}

/*! TODO add a different background  */
#maincontent {
	padding: 4vh;
	// border: solid 1vh red;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 5vh;
	height: 76.3vh;
	background-color: rgba(0, 0, 0, 0.253);

	img {
		border: solid 1vh;
		border-radius: 1vh;
		width: 100%;
		height: 100%;
		object-fit: cover;
		&:hover {
			cursor: pointer;
		}
	}

	/*! Selecting the snowy mountains dinosaur */
	#smd {
		// object-position: -7vh 0vh;
		border-color: $snowymountainscolor;
		//TODO add media query of positioning
	}

	/*! Selecting the outer region dinosaur */
	#ord {
		// object-position: -30vh 0vh;
		border-color: $outergresioncolor;
	}

	#unlockedbutton {
		position: absolute;
		border: none; 
		border-radius: 0.5vh; 
		top: 13vh;
		right: 0;
	}
}
