/*! CSS for the collection page */

$primary-color: #a59656;
// $secondary-color: rgba(255, 255, 255, 0.527);
$secondary-color: rgba(216, 216, 216, 0.733);
$border-color: rgb(165, 4, 4);
$snowymountainscolor: rgb(216, 216, 216);
$outergresioncolor: rgb(6, 83, 6);

body {
	margin: 0px;
	background-image: url(../Images/Backgrounds/good\ blue.jpg);
	background-size: 48vw;
}

#maincontent {
	padding-top: 5vh;
	padding-right: 4vw;
	padding-left: 3vw; 
	/*! Using grid layout to show images in a grid */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 38.15vh);
	grid-gap: 5vh;
	height: 79.3vh;
	background-color: rgba(0, 0, 0, 0.253);

	img {
		border: solid 1vh;
		border-radius: 1vh;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	/*! Selecting the snowy mountains dinosaur */
	#smd {
		border-color: $snowymountainscolor;
	}

	/*! Selecting the outer region dinosaur */
	#ord {
		border-color: $outergresioncolor;
	}

	/*! CSS for the dinosaurs seen element */
	#unlockedbutton {
		position: absolute;
		border: none; 
		border-radius: 0.5vh; 
		top: 13vh;
		right: 0;
	}
}
