@font-face {
  font-family: Aquifer;
  src: url(../Fonts/Aquifer.ttf); }
body {
  margin: 0px;
  background-image: url(../Images/Backgrounds/Goodgreenedit.png);
  background-size: 40vw; }

.container {
  display: flex;
  flex-direction: column; }

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none; }

/*!Setting up the parts in the navigation bar*/
nav {
  font-family: "Aquifer";
  height: 12vh;
  background-color: rgba(216, 216, 216, 0.733);
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgba(42, 104, 107, 0.589) ;  */ }

.logodiv {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 5vh; }
  .logodiv img {
    height: 11vh;
    width: auto; }
    .logodiv img:hover {
      cursor: grab; }

/*!Removing margin from all h1 elements*/
h1 {
  margin: 0;
  padding: 0; }

button {
  font-family: Aquifer;
  justify-content: center;
  color: #a59656;
  font-size: 3.5vh;
  margin: 0 2vh;
  padding: 1vh;
  border-radius: 2vh;
  background-color: black;
  border: solid #a50404 0.5vh; }
  button:hover {
    color: #ceb751; }

#backbutton {
  font-size: 2.5vh;
  width: 10vw;
  position: absolute;
  top: 13vh;
  left: 0.5vw; }

/*!For the div that holds the main content on the page, i.e. the content in the centre */
#maincontent {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex: 1 0 auto;
  height: 84.3vh;
  background-color: rgba(50, 90, 102, 0.452); }

/*!Stylings for the footers*/
footer {
  flex-shrink: 0;
  display: flex;
  text-align: center;
  font-size: 2.2vh;
  margin-top: auto;
  height: 3.7vh;
  color: #a59656;
  background-color: black; }

.footerlist {
  margin: 0; }
  .footerlist li {
    padding: 0 2vw; }

/*! CSS for the WORLD MAP, LOCATIONS and DINOSAUR screens */
#worldmap, #sml {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; }
  #worldmap img, #sml img {
    padding: 0;
    border: 0.9vh #a50404 solid; }

#snowymountainsdino {
  position: absolute;
  left: 5vh;
  bottom: 5vh;
  right: 10vw; }
  #snowymountainsdino img {
    height: 56vh;
    padding: 0;
    border-radius: 3vh;
    border: 0.9vh #c1c1eb solid; }

/*!Shading for when the dinosaur appears */
.shade {
  width: 100%;
  height: 84.4vh;
  background: rgba(8, 36, 49, 0.589);
  position: absolute;
  top: 12vh;
  left: 0; }

/*! CSS for the world map part */
#worldmap {
  border: 0.9vh #a50404 solid;
  margin: 0vh 10vh 0vh 10vh;
  height: 74vh;
  border-radius: 3vh;
  background: radial-gradient(circle, #c0e0ef 45%, #177ead 100%); }
  #worldmap img {
    height: 68vh;
    border: none; }

/*! Snowy mountains CSS */
/*! Location part */
#sml {
  border-top: #6fc8eb solid 0.9vh;
  border-bottom: #6fc8eb solid 0.9vh;
  margin: 0; }
  #sml img {
    height: 75vh;
    width: 100vw;
    border-radius: 0;
    border: none;
    object-fit: cover; }

/*!Dinosaur part*/
#snowymountainsdino img {
  border-color: #6fc8eb; }

/*# sourceMappingURL=template.css.map */
