/*! CSS for the world map screen */
// Setting up colours
$primary-color: #a59656;
// $secondary-color: rgba(255, 255, 255, 0.527);
$secondary-color: rgba(216, 216, 216, 0.733);
$border-color: rgb(165, 4, 4);
$snowymountainscolor: rgb(216, 216, 216);
// $snowymountainscolor  :  rgb(111, 200, 235) ;
// $snowymountainscolor: rgb(165,4,4);
$outergresioncolor: rgb(6, 83, 6);


body {
	background-image: url(../Images/Backgrounds/Goodgreenedit.jpg);
	background-size: 40vw;
}

/*! CSS for back button */
#backbutton {
	font-size: 3vh;
	width: 10vw;
	position: absolute;
	top: 12.65vh;
	left: 0.5vw;
	z-index: 2;
}



/*! CSS for the WORLD MAP, LOCATIONS and DINOSAUR screens */

//Classes to make life easier
%maincontentimages {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	img {
		padding: 0;
		border: 0.9vh $border-color solid;
	}
}

%locationcontent {
	margin: 0;
	img {
		height: 75vh;
		width: 100vw;
		border-radius: 0;
		border: none;
		object-fit: cover;
	}
}

/*! CSS for the world map part */
#worldmap {
	@extend %maincontentimages;
	border: 0.9vh $border-color solid;
	margin: 0vh 10vh 0vh 10vh;
	height: 74vh;
	border-radius: 1.1vh;
	background: radial-gradient(circle, rgba(192, 224, 239, 1) 45%, rgba(23, 126, 173, 1) 100%);

	img {
		height: 68vh;
		border: none;
	}
}

/*! Snowy mountains CSS */

/*! Location part */
#sml {
	@extend %maincontentimages;
	@extend %locationcontent;
	border-top: $snowymountainscolor solid 0.9vh;
	border-bottom: $snowymountainscolor solid 0.9vh;
}

/*!Dinosaur CSS */
//TODO put into a class so that it can easily be adapted to other dinosaur screen
#smd {
	position: absolute;
	background: rgba(8, 36, 49, 0.589);
	width: 100vw;
	height: 84.3vh;

	.title {
		position: absolute;
		text-align: center;
		top: 6vh;
		padding: 0.1vh 2vh;
		/*! Centering the element */
		left: 0;
		right: 0;
		margin: 0;
		font-size: 8vh;
		background-color: rgba(0, 0, 0, 0.719);
		color: rgb(140, 171, 189);
		&:hover {
			color: rgb(117, 176, 211);
		}
	}

	//TODO add a media query that centers the element at a certain screen size
	.image {
		position: absolute;
		left: 5vh;
		top: 16.5vh;
		height: 56vh;
		padding: 0;

		border-radius: 1.2vh;
		border: 0.9vh solid $snowymountainscolor;
	}

	.info {
		position: absolute;
		top: 16.5vh;
		right: 5vh;
		width: 35vw;
		background: rgba(255, 255, 255, 0.657);
		font-size: 3vh;
		padding: 2vh;
		border-radius: 1.2vh;
		border: 0.9vh solid $snowymountainscolor;
	}
}

/*! Quiz icon that loads quiz when clicked */
#smquizicon {
	position: absolute;
	max-width: 65px;
	width: 65px; 
	height: auto;
	left: 20vw;
	bottom: 20vh;
	animation: skullshake 1.5s infinite alternate linear;
	&:hover {
		cursor: pointer;
	}
}

@keyframes skullshake {
	0% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(20deg);
	}
}


/*! Outer Region CSS */

/*! Outer Region Location CSS */
#orl {
	@extend %maincontentimages;
	@extend %locationcontent;
	border-top: $outergresioncolor solid 0.9vh;
	border-bottom: $outergresioncolor solid 0.9vh;
}

/*! Outer region dinosaur CSS*/
#ord { 
	@extend %maincontentimages;
	@extend %locationcontent;
	border-top: $outergresioncolor solid 0.9vh;
	border-bottom: $outergresioncolor solid 0.9vh;

	.title {
		position: absolute;
		text-align: center;
		top: 20vh;
		padding: 0.1vh 2vh;
		/*! Centering the element */
		left: 0;
		right: 0;
		margin: 0;
		font-size: 8vh;
		background-color: rgba(0, 0, 0, 0.719);
		color: rgb(76, 161, 88);
		&:hover {
			color: rgb(63, 165, 54);
		}
	}

	.info {
		position: absolute;
		top: 45vh;
		left: 2vh;
		width: 35vw;
		background: rgba(255, 255, 255, 0.842);
		font-size: 3vh;
		padding: 2vh;
		border-radius: 1.2vh;
		border: 0.9vh solid $outergresioncolor;
	}
}

/*! Outer region quiz icon that shows the quiz */ 
#orquizicon {
	position: absolute; 
	max-width: 55px;
	width: 55px; 
	right: 22vw; 
	bottom: 40vh; 
	animation: idolpulse 1.5s infinite alternate ease-in-out;
}


@keyframes idolpulse{
	0% { 
		transform: scale(1);
	}
	100% { 
		transform: scale(1.05);
	}
}

/*! QUIZ CSS */
#quiz {
	display: flex;
	flex-direction: column;
	text-align: center;
	position: absolute;
	font-size: 2.5vh;
	color: rgb(152, 210, 233);
	width: 30vw;
	// height: fit-content;
	background-color: rgba(0, 0, 0, 0.781);
	left: 40vw;
	border-radius: 2vh;
	// border: rgb(70, 134, 160) solid 1vh;
	// border: $border-color solid 1vh;

	h3 {
		margin: 2vh 2vw 0 2vw;
	}

	ul {
		display: flex;
		margin: 1vh;
		padding: 0;
		flex-direction: column;
		list-style: disc;
	}

	li {
		font-size: 3vh;
		font-weight: bold;
		color: #eed35d;
		padding: 0.8vh;
		margin: 0;
		cursor: pointer;
	}

	/*! Close button on quiz css*/
	#closebutton {
		display: flex;
		flex-direction: column;
		font-family: "Courier New", Courier, monospace;
		font-weight: bold;
		justify-content: center;
		align-items: center;
		position: absolute;
		font-size: 2.5vh;
		right: -1.5vh;
		top: -1.5vh;
		width: 4vh;
		margin: 0;
		height: 4vh;
	}
}

